# --- RÈGLE ACTUELLE ET GÉNÉRALE ---
*.log

# --- CONFIGURATION JAVA SANS MAVEN/GRADLE ---
# Dossier où VS Code compile vos fichiers .class (souvent nommé 'bin' ou 'out')
bin/
out/
# Fichiers de configuration spécifiques à Eclipse/VS Code Java
.classpath
.project
.settings/

# --- CONFIGURATION PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

*.txt
*.zip
*.odt
*test*.php
*.lnk
